    <nav class="container">
      <div class="hamburger-menu show-for-small-only">
        <div id="nav-icon" class="nav-icon">
          <span class="menu"></span>
          <span class="menu"></span>
          <span class="menu"></span>
          <span class="menu"></span>
        </div>
      </div>
      <div class="logo-menu-container hide-for-small-only show-for-medium-up scroll-reveal-nav-sticky">
        <nav class="wrapper align-self-middle main-nav">
          <a href="/" class="logo align-self-middle">
            <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve" version="1.1" width="147" height="101" viewBox="0 0 147 101" class="monogram">
              <path class="svg-fill" d="M0,76.07790698486178 L28.10377483526434,32.93642396532745 H3.6065797324273943 v-2.4495776853811684 H32.25483826872056 v0.680208755805676 L4.219033821207405,74.30885934147324 H33.00320559418692 v2.4504956459153195 H0 v-0.6814480025267792"
                stroke-width="0" />
              <path class="svg-fill" d="M87.42564331197943,30.486846279946292 H90.4191126138449 l11.29596335299156,37.22146373874298 c0.34056335816991307,1.2245593525570466 0.6806677360727511,3.0628212202205503 0.7490557958669791,3.3344457422757454 c0,-0.20424621884853303 0.4080334574299906,-2.1098863897186986 0.8844549746542086,-3.3344457422757454 l13.26911952114851,-37.766273315761424 h0.8160669148599812 L130.70381065504878,67.70831001868926 c0.4080334574299906,1.2245593525570466 0.7481378353328283,3.0628212202205503 0.8165258951270561,3.3344457422757454 c0,-0.20424621884853303 0.4080334574299906,-2.1098863897186986 0.8160669148599812,-3.3344457422757454 l11.29596335299156,-37.22146373874298 h2.8580701230782344 L131.996299087133,77.30333839992628 h-0.748596815599904 l-13.472906759729966,-38.37905787033373 c-0.40849243769706595,-1.2245593525570466 -0.6811267163398265,-2.9259992026053876 -0.748596815599904,-3.3340326600353776 c-0.06838805979422793,0.27217529837568555 -0.40849243769706595,2.0410852476841024 -0.8169848753941319,3.3340326600353776 L102.66791900128489,77.30333839992628 h-0.747678855065753 l-14.494596834239704,-46.81649211997997"
                stroke-width="0" />
              <path class="svg-fill" d="M61.90496352178848,0 v100.538816024521285 h1.25 v-100" />
            </svg>
          </a>
          <ul class="align-self-middle">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/schedule/">Schedule</a>
            </li>
            <li>
              <a href="/faqs/">FAQs</a>
            </li>
            <li>
              <a href="/accommodations/">Accommodations</a>
            </li>
            <li>
              <a href="/rsvp/">RSVP</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="logo-menu-container hide-for-small-only show-for-medium-up scroll-hide-nav">
        <nav class="wrapper align-self-middle">
          <a href="/" class="logo align-self-middle">
            <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" width="147" height="101" viewBox="0 0 147 101" class="monogram">
              <path class="svg-fill" d="M0,76.07790698486178 L28.10377483526434,32.93642396532745 H3.6065797324273943 v-2.4495776853811684 H32.25483826872056 v0.680208755805676 L4.219033821207405,74.30885934147324 H33.00320559418692 v2.4504956459153195 H0 v-0.6814480025267792" stroke-width="0" />
              <path class="svg-fill" d="M87.42564331197943,30.486846279946292 H90.4191126138449 l11.29596335299156,37.22146373874298 c0.34056335816991307,1.2245593525570466 0.6806677360727511,3.0628212202205503 0.7490557958669791,3.3344457422757454 c0,-0.20424621884853303 0.4080334574299906,-2.1098863897186986 0.8844549746542086,-3.3344457422757454 l13.26911952114851,-37.766273315761424 h0.8160669148599812 L130.70381065504878,67.70831001868926 c0.4080334574299906,1.2245593525570466 0.7481378353328283,3.0628212202205503 0.8165258951270561,3.3344457422757454 c0,-0.20424621884853303 0.4080334574299906,-2.1098863897186986 0.8160669148599812,-3.3344457422757454 l11.29596335299156,-37.22146373874298 h2.8580701230782344 L131.996299087133,77.30333839992628 h-0.748596815599904 l-13.472906759729966,-38.37905787033373 c-0.40849243769706595,-1.2245593525570466 -0.6811267163398265,-2.9259992026053876 -0.748596815599904,-3.3340326600353776 c-0.06838805979422793,0.27217529837568555 -0.40849243769706595,2.0410852476841024 -0.8169848753941319,3.3340326600353776 L102.66791900128489,77.30333839992628 h-0.747678855065753 l-14.494596834239704,-46.81649211997997" stroke-width="0" />
              <path class="svg-fill" d="M61.90496352178848,0 v100.538816024521285 h1.25 v-100" />
            </svg>
          </a>
          <ul class="align-self-middle">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/schedule/">Schedule</a>
            </li>
            <li>
              <a href="/faqs/">FAQs</a>
            </li>
            <li>
              <a href="/accommodations/">Accommodations</a>
            </li>
            <li>
              <a href="/rsvp/">RSVP</a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>