<%- partial(`../_layouts/_default.head`, { title : "FAQs - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home faqs">
        <div class="wrapper align-self-middle">
          <h1>FAQs</h1>
        </div>
      </header>
      <div class="wrapper">
        <section class="faqs">
          <p class="question">Is there parking?</p>
          <p class="answer">Yes, there is free parking available at Miller Lash House.  There is also handicap parking available right next the Miller Lash House building.</p>
          <p class="question">Are kids welcome?</p>
          <p class="answer">Yes, please be sure to fill out our RSVP accordingly!</p>
          <p class="question">I am coming from out of town.  Where should I stay?</p>
          <p class="answer">Please see our <a href="/accomodations/">Accommodations</a> page for more information.</p>
          <p class="question">How do I get to the venue?</p>
          <p class="answer">Miller Lash House is located at 130 Old Kingston Road, Scarborough</p>
          <p class="question">Is there a dress code?</p>
          <p class="answer"></p>
          <p class="question">Are the ceremony and reception  at the same location</p>
          <p class="answer">Yes, everything will take place at Miller Lash House</p>
          <p class="question">I have a specific questions</p>
          <p class="answer">Please contact us by email or phone</p>          
          
        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
