<%- partial(`../_layouts/_default.head`, { title : "FAQs - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home accommodations">
        <div class="wrapper align-self-middle">
          <h1>FAQs</h1>
        </div>
      </header>
      <div class="wrapper">
        <section>
          <p class="question">Where should I park?</p>
          <p class="answer">There is free parking avaible at the venue.  There is also handicap parking available right next the Miller Lash House building.</p>
          <p class="question">Are kids welcome?</p>
          <p class="answer">Yes, please be sure to fill out our RSVP accordingly!</p>
          <p class="question">I am coming from out of town.  Where should I stay?</p>
          <p class="answer">We do not have a block of hotels booked, however please see our accommodations for some hotels nearby.</p>
          <p class="question">How do I get to the venue?</p>
          <p class="answer">Miller Lash House is located at 130 Old Kingston Road, Scarbo</p>
          <p class="question">Is there a dress code?</p>
          <p class="answer"></p>
          <p class="question">Are the ceremony and reception locati</p>
          <p class="answer"></p>
          <p class="question">I have a specific questions</p>
          <p class="answer"></p>
          
          
        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
