<%- partial(`../_layouts/_default.head`, { title : "FAQs - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home faqs">
        <div class="wrapper align-self-middle">
          <h1>FAQs</h1>
        </div>
      </header>
      <div class="wrapper">
        <section class="faqs">
          <p class="question">Is there parking?</p>
          <p class="answer">Yes, there is free parking available at Miller Lash House.  There is also handicap parking available right next to the Miller Lash House building.</p>
          <p class="question">What time should I arrive?</p>
          <p class="answer">Guests are welcome to arrive at 5:00, the ceremony will begin promptly at 5:30</p>
          <p class="question">Will the ceremony be taking place indoors or outdoors?</p>
          <p class="answer">The ceremony will take place outside (weather permitting).  There is an indoor backup plan in case of bad weather. </p>
          <p class="question">Are kids welcome?</p>
          <p class="answer">Yes!  Please be sure to fill out our RSVP accordingly!</p>
          <p class="question">Is there a dress code?</p>
          <p class="answer">Adults: Semiformal</p>
          <p class="answer">Children: Whatever you can get them to wear.</p>
          <p class="question">I am coming from out of town.  Where should I stay?</p>
          <p class="answer">Please see our <a href="/accommodations/">Accommodations</a> page for more information.</p>
          <p class="question">How do I get to the venue?</p>
          <p class="answer">Miller Lash House is located at 130 Old Kingston Road, Scarborough.</p>
          <div id="map" class="map">
            
          </div>
          <p class="answer">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.657767515607!2d-79.1875655844981!3d43.77996247911715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da642f7bfabb%3A0x5c1409ba0fcb37b6!2sMiller+Lash+House!5e0!3m2!1sen!2sca!4v1531497702070" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          </p>
          
          <p class="question">Are the ceremony and reception  at the same location</p>
          <p class="answer">Yes, everything will take place at Miller Lash House</p>
          <p class="question">I have a specific questions</p>
          <p class="answer">Please contact us by email or phone</p>          
          
        </section>
      </div>
    </main>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQpmneAk51CgIrjXPEj61yvXfiFSwkiwc" type="text/javascript"></script>
  

<%- partial(`../_layouts/_default.footer`) %>
