<%- partial(`_layouts/_default.head`, { title : "Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`_layouts/_default.header`) %>
        <main>
            <header class="home">
                <div class="wrapper align-self-middle">
                    <h1 class="h1 uppercase"><i>It's about time!</i></h1>
                    <h3 class="h3">Please let us know if you can attend our celebration</h3>
                    <br>
                    <button href="/rsvp/" class="reverse">RSVP</button>
                </div>
            </header>
            <div>
                <section class="wrapper">
                    <p class="scroll-reveal">Finally!  Zena and Warren are getting married!</p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
                        atque?</p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
                        atque?</p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
                        atque?</p>
                </section>
            </div>
            <div>
                <section class="wrapper">
                    
                </section>
            </div>
            <div class="background-full-separator">
                <section class="wrapper">
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                </section>
            </div>
            <div>
                <section class="wrapper">
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                    <p class="scroll-reveal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
                        esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut atque?
                    </p>
                </section>
            </div>
        </main>
<%- partial(`_layouts/_default.footer`) %>
