<%- partial(`_layouts/_default.head`, { title : "Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`_layouts/_default.header`) %>
    <main class="home">
      <header>
        <div class="wrapper align-self-middle">
          <h1 class="h1 uppercase scroll-reveal">Today's the day!</h1>
        </div>
      </header>
      <div>
        <section class="wrapper section-padding">
          <p class="h2 scroll-reveal secondaryFont">Zena and Warren are getting married!</p>
          <p class="h3 scroll-reveal">We are overjoyed by the love and support from you, our family and friends.</p>
          <p class="h3 scroll-reveal">We look forward to celebrating our special day with you!</p>
        </section>
      </div>
      <div class="background-full-separator">
        <section class="wrapper section-padding">
          <h2 class="h2 scroll-reveal secondaryFont date small-margin-bottom--3">Saturday September 15<sup>th</sup>, 2018</h2>
          <p class="h3 scroll-reveal address small-margin--1">Miller Lash House</p>
          <p class="h3 scroll-reveal address small-margin--1">130 Old Kingston Road</p>
          <p class="h3 scroll-reveal address small-margin--1">Scarborough, ON M1E 2J5</p>
          <a class="button directions reverse small-margin-top--2 scroll-reveal" href="https://www.google.com/maps?ll=43.779963,-79.185377&z=16&t=m&hl=en-CA&gl=CA&mapclient=embed&daddr=Miller+Lash+House+130+Old+Kingston+Rd+Scarborough,+ON+M1E+3J5@43.7795312,-79.1846148">Directions</a>
          <div id="map" class="map scroll-reveal small-margin-top--4"></div>
        </section>
      </div>
    </main>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5uDVPCpIwvuUqOU_X4Fu7ikk84-eTekY" type="text/javascript"></script>
<%- partial(`_layouts/_default.footer`) %>
