html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primaryFont;
}

.wrapper {
  max-width: 1100px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

button {
  text-transform: uppercase;
  text-align:center;
  padding:1rem 3rem;
  transition: all 0.25s linear 0s;
  color:$primaryDarkColor;
  border:1px solid $primaryDarkColor;
  &:hover{
    color:$primaryLightColor;
    border:1px solid $primaryDarkColor;
    background-color: $primaryDarkColor;
    cursor:pointer;
    transition: all 0.125s linear 0s;
  }
  &.reverse{
    color:$primaryLightColor;
    border:1px solid $primaryLightColor;
    &:hover{
      color:$primaryDarkColor;
      border:1px solid $primaryLightColor;
      background-color: $primaryLightColor;
    }
  }
}

.map {
  display: none;
  @media (min-width: 40rem) {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin: 5rem auto;
  }
}