$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$accentFont: 'Fredericka the Great', cursive;

$primaryDarkColor: #444;
$primaryLightColor: #fff;
$pageBackgroundColor: #ededed;
$errorColor: #e00;
$backgroundColorSeperator: #464646;

$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.5rem;
$h1-desktop: 9rem;
$h2-desktop: 5rem;
$h3-desktop: 2.5rem;
$h4-desktop: 1.75rem;

$animate: all 0.05s ease-in-out;

html {
  font-size: 62.5%;
  background-color: $pageBackgroundColor;
  color: $primaryDarkColor;
}

body {
  font-size: 1.6rem;
  font-family: $primaryFont;
}

.wrapper {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

h1,h2,h3,h4{margin:0;font-size:inherit;font-weight:normal;}
.h1 {font-size:$h1;}
.h2 {font-size:$h2;}
.h3 {font-size:$h3;}
.h4 {font-size:$h4;}
@media (min-width: 40rem) {
  .h1 {font-size:$h1-desktop;}
  .h2 {font-size:$h2-desktop;}
  .h3 {font-size:$h3-desktop;}
  .h4 {font-size:$h4-desktop;}
}

a {
  text-decoration: dotted;
  text-transform: uppercase;
  text-align:center;
  transition: all 0.25s linear 0s;
  color:$primaryDarkColor;
  position: relative;
  transition: $animate;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 2px;
    margin: 2px 0 0;
    transition: $animate;
    transition-duration: 0.25s;
    opacity: 1;
  }
  &:before {
    left: calc(50%);
    background-color: $primaryDarkColor;
  }
  &:after {
    right: calc(50%);
    background-color: $primaryDarkColor;
  }
  &:hover {
    &:before,
    &:after {
      width: 50%;
      opacity: 1;
    }
  }
  &.reverse{
    color:$primaryLightColor;
    &:before {
      background-color: $primaryLightColor;
    }
    &:after {
      background-color: $primaryLightColor;
    }
  }
}

button {
  text-transform: uppercase;
  text-align:center;
  padding:1rem 3rem;
  transition: all 0.25s linear 0s;
  color:$primaryDarkColor;
  border:1px solid $primaryDarkColor;
  background:$primaryLightColor;
  &:hover{
    color:$primaryLightColor;
    border:1px solid $primaryDarkColor;
    background-color: $primaryDarkColor;
    cursor:pointer;
    transition: all 0.125s linear 0s;
  }
  &.reverse{
    color:$primaryLightColor;
    border:1px solid $primaryLightColor;
    background:$primaryDarkColor;
    &:hover{
      color:$primaryDarkColor;
      border:1px solid $primaryLightColor;
      background-color: $primaryLightColor;
    }
  }
}

.map {
  display: none;
  @media (min-width: 40rem) {
    color: $primaryDarkColor;
    display: block;
    width: 100%;
  }
}