main {
  header {
    text-align: center;
  }
  &.home header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/mariana-acevedo-376818-unsplash-2000x1333-tiny.jpg") no-repeat;
    background-size: cover;
    height: 250px;
    color:$primaryLightColor;
    display:flex;
    @media (min-width: 40rem) {
      height: 100vh;
    }
  }
  &.schedule header {
    background: linear-gradient(to bottom, rgba(150, 150, 150, 0.25), rgba(0, 0, 0, 0.25)), url("/images/ben-rosett-12807-unsplash-2000x900-tiny.jpg"), no-repeat;
    background-position: center 75%;
  }
  &.faqs header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),url("/images/ankush-minda-547827-unsplash-2000x900-tiny.jpg"), no-repeat;
    background-position: center 75%;
  }
  &.accommodations header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/images/kelly-sikkema-530246-unsplash-2000x900-tiny.jpg"), no-repeat;
    background-position: center 25%;
  }
  &.rsvp header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/evelina-friman-339606-unsplash-2000x900-tiny.jpg"), no-repeat;
    background-position: center 75%;
  }
  &.schedule header,
  &.faqs header,
  &.accommodations header,
  &.rsvp header {
    background-size: cover;
    height: 250px;
    color:$primaryLightColor;
    display:flex;
    @media (min-width: 40rem) {
      height: 50vh;
    }
  }
  h1, h2, h3, button, p {
    -webkit-animation: fadein 2.6s;
       -moz-animation: fadein 2.6s;
         -o-animation: fadein 2.6s;
            animation: fadein 2.6s;
  }
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}