.background-full-separator{
  background-color:#ddd;
}

// Home

// Schedule
p.time, p.event {
  text-align: center;
}

p.time {
  font-family: $secondaryFont;  
  font-size: 3vh;
}

// FAQs

// Accommodations

// RSVP