main {
  &.home{
    text-align:center;
    p.address {
      margin:0.5rem;
    }
    button.directions {
      @media (min-width: 40rem) {
        display: none;
      }
    }
    .map{
      @media (min-width: 40rem) {
        height: 25rem;
      }
    }
  }
  &.schedule{
    text-align:center;
  }
  &.faqs{
    text-align:center;
    .question{
      padding:0 0 7.5rem;
    }
    .map{
      @media (min-width: 40rem) {
        height: 40rem;
      }
    }
    .loki-small{
      width:3rem;
      margin-bottom:1rem;
    }
  }
  &.accommodations{
    text-align:center;
    p.hotel {
      font-weight: bold;
    }
    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      @media (min-width: 40rem) {
        width: 80%;
        height: 64%;
      }
    }
  }
  &.rsvp{
    .wrapper{
      form[name="rsvp"] {
        width:100%;
        padding:10rem 0;
        .row {
          padding-bottom:0;
          @media (min-width: 64rem) {
            padding-bottom:2rem;
          } 
        }
        .row .column {
          padding-bottom:1.5rem;
          @media (min-width: 64rem) {
            padding-bottom:0;
          } 
        }
        textarea{resize:none;height:12rem;}
      
        input[type="text"].error,
        input[type="number"].error,
        select.error {border:1px solid $errorColor}
      
        .error-message {display:none}
        .error-message.active {display:block;color:$errorColor;font-size:1.4rem;}
      
        label.screen-reader-only {overflow:hidden;position:absolute;width:1px;height:1px;border:0;clip:rect(0,0,0,0);margin:-1px;padding:0;top:-500px}
      
        input[type="text"],
        input[type="number"],
        select {margin-bottom:0;}
      
        textarea,input,select {
          color:$primaryDarkColor;
          background-color:#f6f6f6;
          border:1px solid $primaryDarkColor;
          padding:1rem 2rem;
          line-height:2.5rem;
          font-size:1.4rem;
        }
      
        input[type="text"]::-webkit-input-placeholder,
        input[type="number"]::-webkit-input-placeholder,
        select,
        textarea {
          color:#7c7c7c;
        }
      
        select {
          width:100%;
          overflow-wrap:initial;
          box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
        }
      
        .attend-ceremony-reception {
          display:none;
        }
        .not-attend {
          display:none;
          height: 7rem;
        }
        .guest-heading-container {
          text-align: left;
          @media (min-width: 64rem) {
            text-align: right;
          }   
        }
        .guest-heading{
          font-family: $secondaryFont;  
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          @media (min-width: 64rem) {
            padding-left: 0.9375rem;
            padding-right:0.9375rem
          }
        }
        .guest1 {
          padding-bottom:3rem;
          @media (min-width: 64rem) {
            padding-bottom:2rem;
          } 
        }
        .high-chairs {
          display:none;
        }
        button.primary {
          display:block;
          margin:0 auto;
        }
      }
      @media (min-width: 64rem) {
        max-width:900px;
      }
    }
  }
}