$animate: all 0.05s ease-in-out;

div.logo-menu-container {
  text-align: center; //mobile-only
  transition: 0.5s all;
  @media (min-width: 40rem) {
    position:fixed;
    width:100%;
    top:0;
    left:0;
  }
  nav {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    @media (min-width: 40rem) {
      display: flex;
      justify-content: space-between;
      position: initial;
      left: initial;
      top: initial;
      transform: initial;
    }
    ul {
      padding: 0;
      list-style-type: none;
      @media (min-width: 40rem) {
        display: flex;
      }
      li {
        padding: 15px 5px;
        a {
          text-decoration: none;
          color: $primaryDarkColor;
          position: relative;
          padding: 0 1.25rem;
          font-size: 2rem;
          text-transform:uppercase;
          transition: $animate;
          position: relative;
          &:before,
          &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 0px;
            height: 2px;
            margin: 2px 0 0;
            transition: $animate;
            transition-duration: 0.5s;
            opacity: 1;
            @media (min-width: 40rem) {
              opacity: 0;
            }           
          }
          &:before {
            left: calc(50%);
            background-color: $primaryDarkColor;
          }
          &:after {
            right: calc(50%);
            background-color: $primaryDarkColor;
          }
        }
        &:hover {
          cursor: pointer;
          a {
            &:before,
            &:after {
              width: 50%;
              opacity: 1;
            }
          }
        }
      }
    }
    .logo {
      font-size:0;
      padding:10px 0;
      &:hover {
        &::after {
          content: '';
          position: absolute;
          height: 0;
        }
      }
      svg.monogram {
        width:75px;
        height:51px;
        .svg-fill{
          fill: $primaryDarkColor;
          stroke: $primaryDarkColor;
        }
      }
    }
  }
}

.scroll-reveal-nav-sticky {
  display: none;
}

.main-nav {
  
}

@media (min-width: 40rem) {
  div.logo-menu-container {
    &.scroll-hide-nav {
      ul li a {
        color: $primaryLightColor;
        font-size: 1.35rem;
        &:before {
          background-color: $primaryLightColor;
        }
        &:after {
          background-color: $primaryLightColor;
        }
      }
      .logo svg.monogram .svg-fill {
        fill: $primaryLightColor;
        stroke: $primaryLightColor;
      }
    }
    &.scroll-reveal-nav-sticky {
      background-color:$primaryLightColor;
      z-index:2;
      transform: translate(0,-86px);
      display: block;   
      ul li a {
        color: $primaryDarkColor;
        font-size: 1.35rem;
        &:before {
          background-color: $primaryDarkColor;
        }
        &:after {
          background-color: $primaryDarkColor;
        }
      }
      .logo svg.monogram .svg-fill {
        fill: $primaryDarkColor;
        stroke: $primaryDarkColor;
      }
    }
  }
}

// Hamburger
.hamburger-menu {
  width: 100%;
  padding: 0;
  text-align: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 5s;
  z-index: 10;
  @media (min-width: 40rem) {
    display: none;
  }
}

nav.container {
  transition: 0.5s all;
  &.active-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 64px;
    left: 0;
    right: 0;
    z-index: 30;
    background: rgba(255, 255, 255, 0.95);
    transition: 0.5s all;
  }
}

.nav-icon {
  width: 45px;
  height: 45px;
  position: relative;
  z-index: 40;
  display: inline-block;
  transform: rotate(0deg);
  cursor: pointer;
  margin: 15px 0 5px;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 85%;
    background: black;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 15px;
    }
    &:nth-child(4) {
      top: 30px;
    }
  }
  &.open {
    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2) {
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
    }
    span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}