<%- partial(`../_layouts/_default.head`, { title : "Schedule - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main class="schedule">
      <header>
        <div class="wrapper align-self-middle">
          <h1 class="h1 uppercase scroll-reveal">Schedule</h1>
        </div>
      </header>
      <div class="wrapper section-padding">
        <div class="event small-margin-bottom--6">
          <h2 class="h2 secondaryFont scroll-reveal">Ceremony</h2>
          <h3 class="h3 time scroll-reveal small-margin-top--1">5:30 PM - 6:00 PM</h3>
          <p class="details scroll-reveal">The ceremony will take place at the Arbor Site</p>
        </div>
        <div class="event small-margin-bottom--6">
          <h2 class="h2 secondaryFont scroll-reveal">Group Pictures &amp; Cocktails</h2>
          <h3 class="h3 time scroll-reveal small-margin-top--1">6:00 PM - 7:00 PM</h3>
          <p class="details scroll-reveal">Group pictures with family and friends.<br>Drinks will be served, along with an assortment of hot &amp; cold hors d’oeuvres.
        </div>
        <div class="event small-margin-bottom--6">
          <h2 class="h2 secondaryFont scroll-reveal">Dinner and Dancing</h2>
          <h3 class="h3 time scroll-reveal small-margin-top--1">7:00 PM - 12:30 PM</h3>
          <p class="details scroll-reveal">
            A variety of tapa style entrées of Zena and Warren's favorite foods.<br>
            Dancing will follow with some current hits and some old favorites. Because I want it that way.<br>
          </p>
        </div>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
