<%- partial(`../_layouts/_default.head`, { title : "Schedule - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home schedule">
        <div class="wrapper align-self-middle">
          <h1 class="h1 uppercase">Schedule</h1>
        </div>
      </header>
      <div class="wrapper schedule">
        <div class="event">
          <h2 class="h2 secondaryFont">Ceremony</h2>
          <h3 class="h4 time">5:30 PM - 6:00 PM</h3>
          <p class="details">The ceremony will take place at the Arbor Site</p>
        </div>
        <div class="event">
          <h2 class="h2 secondaryFont">Group Pictures &amp; Cocktails</h2>
          <h3 class="h4 time">6:00 PM - 7:00 PM</h3>
          <p class="details">Group pictures with family and friends.<br>Drinks will be served, along with an assortment of hot &amp; cold hors d’oeuvres.
        </div>
        <div class="event">
          <h2 class="h2 secondaryFont">Dinner and Dancing</h2>
          <h3 class="h4 time">7:00 PM - 12:30 PM</h3>
          <p class="details">
            A variety of tapa style entrées of Zena and Warren's favorite foods.<br>
            Dancing will follow with some current hits and some old favorites. Because I want it that way.<br>
          </p>
        </div>
        <!-- <section class="schedule program">
          <p class="scroll-reveal">Bridesmaids:</p>
            <p class="scroll-reveal">Groomsmen</p>
            <p class="scroll-reveal">Mother of the Bride</p>
            <p class="scroll-reveal">Father of the Bride</p>
            <p class="scroll-reveal">Mother of the Groom</p>
            <p class="scroll-reveal">Father of the Groom</p>
            <p class="scroll-reveal">Flower Girl</p>
            <p class="scroll-reveal">Ring Girl and Dog</p>
            <p class="scroll-reveal">Officiant</p>
        </section> -->
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
