<%- partial(`../_layouts/_default.head`, { title : "Schedule - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
    <header class="home schedule">
      <div class="wrapper align-self-middle">
        <h1>Schedule</h1>
      </div>
    </header>
      <div class="wrapper">
        <section class="schedule">
          <p class="time">5:00pm</p>
          <p class="event">Miller Lash House</p>
          <p class="event">130 Old Kingstong Road</p>
          <p class="event">Scarborough, ON M1E 2J5</p>
          <p class="time">5:30pm</p>
          <p class="event">The ceremony begins and will <br />take place at the Arbor Site</p>
          <p class="time">6:00pm</p>
          <p class="event">Group pictures and Cocktails</p>
          <p class="time">7:00pm</p>
          <p class="event">Dinner</p>
          <p class="time">8:15pm</p>
          <p class="event">Cake Cutting</p>
          <p class="time">8:30pm</p>
          <p class="event">Party</p>
        </section>
        <section class="schedule program">
          <p class="scroll-reveal">Bridesmaids:</p>
            <p class="scroll-reveal">Groomsmen</p>
            <p class="scroll-reveal">Mother of the Bride</p>
            <p class="scroll-reveal">Father of the Bride</p>
            <p class="scroll-reveal">Mother of the Groom</p>
            <p class="scroll-reveal">Father of the Groom</p>
            <p class="scroll-reveal">Flower Girl</p>
            <p class="scroll-reveal">Ring Girl and Dog</p>
            <p class="scroll-reveal">Officiant</p>
        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
