<%- partial(`../_layouts/_default.head`, { title : "Accommodations - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home accommodations">
        <div class="wrapper align-self-middle">
          <h1>Accommodations</h1>
        </div>
      </header>
      <div class="wrapper">
        <section class="accommodations">
          <div>
            <p>For our out of town guests or guests looking to stay nearby, here are some hotel recommendations.</p>
            <p>We do not have a block of rooms booked however, if you need any assitance or have any questions please do not hesistate to ask.</p>         
          </div>
          </section>
        <section class="accommodations">
          <div class="accommodations__container">
            <p class="hotel">Holiday Inn Express Toronto East - Scarborough</p>
            <p class="address">50 Estate Dr, Scarborough, ON M1H 2Z1</p>
            <img src="/images/holiday-inn-express-scarborough-3756937724-2x1.jpg" alt="">
            <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/scarborough/yyzex/hoteldetail" target="_blank">Book this hotel</a>
          </div>
          <div class="accommodations__container">
            <p class="hotel">Best Western Plus Executive Inn</p>
            <p class="address">38 Estate Dr, Toronto, ON M1H 2Z1</p>
            <img src="/images/best-western-plus.jpg" alt="">
            <a href="https://www.bestwestern.com/en_US/book/hotel-rooms.66088.html?iata=00171880&ssob=BLBWI0004G&cid=BLBWI0004G:google:gmb:66088" target="_blank">Book this hotel</a>
          </div>


        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
