<%- partial(`../_layouts/_default.head`, { title : "Accommodations - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main class="accommodations">
      <header>
        <div class="wrapper align-self-middle">
          <h1 class="h1 uppercase scroll-reveal">Accommodations</h1>
        </div>
      </header>
      <div class="wrapper">
        <section class="section-padding">
          <p>For our out of town guests or guests looking to stay nearby, here are some hotel recommendations.</p>
          <p>We do not have a block of rooms booked however, if you need any assistance or have any questions please do not hesistate to ask.</p>
          <div class="row small-margin-top--2 small-margin-bottom--5">
            <div class="row small-12 medium-12 large-6 align-center">
              <div class="small-12 medium-11">
                <p class="h3 hotel" data-equalize-height="hotel-title" data-equalize-medium-up>Holiday Inn Express Toronto East - Scarborough</p>
                <p class="address">50 Estate Dr, Scarborough, ON M1H 2Z1</p>
                <img src="/images/holiday-inn-express-scarborough-3756937724-2x1.jpg" alt="">
                <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/scarborough/yyzex/hoteldetail" target="_blank" class="h4">Book this hotel</a>
              </div>
            </div>
            <div class="row small-12 medium-12 large-6 align-center">
              <div class="small-12 medium-11">
                <p class="h3 hotel" data-equalize-height="hotel-title" data-equalize-medium-up>Best Western Plus Executive Inn - Scarborough</p>
                <p class="address">38 Estate Dr, Toronto, ON M1H 2Z1</p>
                <img src="/images/best-western-plus.jpg" alt="">
                <a href="https://www.bestwestern.com/en_US/book/hotel-rooms.66088.html?iata=00171880&ssob=BLBWI0004G&cid=BLBWI0004G:google:gmb:66088" target="_blank" class="h4">Book this hotel</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
