<%- partial(`../_layouts/_default.head`, { title : "Accommodations - Zena Jun &amp; Warren Shea Wedding" }) %>
<%- partial(`../_layouts/_default.header`) %>
    <main>
      <header class="home accommodations">
        <div class="wrapper align-self-middle">
          <h1>Accommodations</h1>
        </div>
      </header>
      <div class="wrapper">
        <section>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, temporibus! Reprehenderit deserunt magni ad?
            Libero, tenetur tempore dicta at atque dolore modi! Adipisci doloremque, blanditiis id accusamus sunt eaque
            tempore?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id placeat tempore, error quae possimus nisi laudantium
            esse pariatur, dolores architecto consequuntur quidem. Obcaecati commodi quisquam delectus omnis iusto ut
            atque?</p>
        </section>
      </div>
    </main>
<%- partial(`../_layouts/_default.footer`) %>
